textarea {
  width: 300px;
  height: 150px;
}

#pipeline, .reindexed-wrap {
  float: left;
}

.reindexed-wrap {
  position: relative;
}

#reindexed {
  opacity: 0.2;
}

#output {
  position: absolute;
  left: 0px;
  top: 0px;
}

#output .scale path,
#output .scale line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

#output .scale line.block {
  stroke: #3B4BFF;
  stroke-width: 1.5px;
  stroke-dasharray: 8,2;
  stroke-dashoffset: 6;
}

#output .scale line.minor {
  stroke: rgba(0,0,0,0.1);
}

#output .scale .tick text {
  font-size: 6px;
  line-height: 8px;
}

#output .intervals .interval-dead {
  fill: rgba(0, 0, 0, 0.1);
}

#output .intervals .use {
  fill: #6A74EB;
}

#output .intervals .use-register {
  fill: #F23F3F;
}

#output .intervals .use-fixed {
  fill: #ED4B32;
}

.text-aligned {
  padding: 2px 4px;
  font-family: monospace;
  line-height: 24px;
  font-size: 16px;
}

.clear {
  clear: both;
}
